.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form input[type="text"] {
  border-radius: 12px;
  padding: 12px;
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: rgba(67, 9, 128, 1);
  max-width: 70%;
}

input[type="date"] {
  width: 30%;
}

.form button:hover {
 background-color: rgba(130, 50, 160, 1);
}
