.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"],
button {
  border-radius: 12px;
  padding: 12px;
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #3a85f7;
  max-width: 70%;
}

input[type="date"] {
  width: 30%;
}
