.single-task {
  border: 1px solid gray;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px auto;
}

.single-task button {
  width: 80px;
}

p {
  font-size: 20px;
}

.completed p {
  text-decoration: line-through;
}
