.single-task {
  border: 1px solid gray;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px auto;
  padding:4px  12px;
  gap: 10px;
}

.single-task input[type="text"] {
width: 50%;
}

p {
  font-size: 20px;
}

.completed p {
  text-decoration: line-through;
}

.checkbox {
  width: 20px;
  height: 20px;
}
