.daily-todo-list-container {
  border: 1px solid gray;
  width: 60%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: rgba(0, 120, 212, 1);
}

.daily-todo-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./../../assets/BG\ to-do-list\ 2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12px 0;
}

.daily-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 12px;
}

.todo-footer {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    gap: 12px;
}

.completed-number {
  background: white;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid rgba(0, 120, 212, 1);

}

.clear-buttons {
  padding: 0 12px;
  display: flex;
  gap: 12px;
}