.daily-todo-list-container {
  border: 1px solid gray;
  width: 500px;
  background: white;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.daily-todo-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #868f96 0%, #596164 100%);
}
