.daily-todo-list-container {
  border: 1px solid gray;
  width: 60%;
  background: white;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.daily-todo-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("./../../assets/BG\ to-do-list\ 2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
