.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-input-container {
  width: 660px;
  height: 450px;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 12px;
}

.new-task-container {
  background-color: gray;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 12px;
}

.dates-container {
  padding: 12px;
  background-color: gray;
  margin: 20px 0;
}

.single-date-in-home {
  height: 40px;
  border: 1px solid gray;
  border-radius: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  margin: 10px 0;
  padding: 0 12px;
}

a {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3a85f7;
}
