.current-day-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  border-radius: 12px;
  padding: 12px;
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: rgb(67, 9, 128);
  max-width: 82%;
}

.current-day-form button {
  width: 80px;
}

.current-day-form button:hover {
  background-color: rgba(130, 50, 160, 1);
}

.current-day-form input {
  flex: 1;
}
